a:hover {
    color: #7e57c1;
}

.Barset {
    background-color: #0E0F19;
    border-color: #0E0F19;
    color: white;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

.consoleIcon {
    background-size: contain;
    height: 15px;
    width: 65px;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
}

.gameCard:hover {
    border: 2px solid #7e57c1;
}